/* login ---------------------------------------------------------------------------- */
.background-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("/public/member/loginBanner.png");
}

.background-div-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("/public/member/loginBannerLogo.png");
}

.login-div{
    height: 600px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.login-div-bottom {
    width: 280px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-div-bottom button {

    color: #808080;
    background-color: rgb(0, 0, 0, 60%);
    border: none;
    cursor: pointer;
}

.login-logo-div {
    width: 380px;
    height: 330px;
    margin-bottom: 10px;
    padding: 0;
    background-image: url("/public/member/loginLogoWh.png");
}

.login-div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 280px;
    border-radius: 10px;
    text-indent: 30px;
}

.login-inputImg-id {
    background-image : url('/public/member/login_user.png');
    background-repeat : no-repeat;
    background-position: 10px;
}

.login-inputImg-pw {
    background-image : url('/public/member/login_pwd.png');
    background-repeat : no-repeat;
    background-position: 10px;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 40px;
    width: 280px;
    border-radius: 10px;
    background-color: #2B456D;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


/* signup ---------------------------------------------------------------------------------------- */
.signup-div {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.login-div-title {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.signup-div-profile {
    width: 100px;
    height: 140px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-div-profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.signup-div-profile-title {
    width: 300px;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

.signup-div-form {
    width: 480px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-div-left {
    width: 240px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-div-left span {
    color: white;
    font-size: 10px;
    margin-bottom: 3px;
}

.signup-div-left-address {
    width: 220px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-div-left-email {
    width: 220px;
    height: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-div .email-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 110px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.disabledInput {
    color: white;
}

.signup-div .disabledInput::placeholder {
    color: white;
}

.signup-div-left-email select {
    width: 105px;
    height: 27px;
    border: solid 1px #bfbfbf;
    border-radius: 10px;
    font-size: 12px;
    color: #ACACAC;
    padding: 3px 0px;
    margin-left: 5px;
    -webkit-appearance: button;
    -moz-appearance: button-arrow-down;
}

.signup-div-right {
    width: 240px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.signup-div-right span {
    color: white;
    font-size: 10px;
    margin-bottom: 3px;
}

.signup-div .width130-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.signup-div-right-address {
    width: 220px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-div .small-search-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #2B456D;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.signup-div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.signup-div input::placeholder {
    color: #ACACAC;
}

.signup-div-button {
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.signup-div button {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: #2B456D;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


/* search ---------------------------------------------------------------------------------------- */
.login-search-div {
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.search-div-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
}

.searchId-result {
    color: white;
    font-size: 18px;
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div-email {
    width: 220px;
    height: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.width120 {
    width: 120px !important;
}

.search-div-email select {
    width: 105px;
    height: 27px;
    border: solid 1px #bfbfbf;
    border-radius: 10px;
    font-size: 12px;
    color: #ACACAC;
    padding: 3px 0px;
    margin-left: 5px;
    -webkit-appearance: button;
    -moz-appearance: button-arrow-down;
}

.login-search-div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.login-search-div input::placeholder {
    color: #ACACAC;
}

.search-button {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    background-color: #2B456D;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.login-search-div-bottom {
    width: 280px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.width220 {
    width: 220px;
}

.login-div-bottom button {
    color: #808080;
    background-color: rgb(0, 0, 0, 60%);
    border: none;
    cursor: pointer;
}



/* paging bar ------------------------------------------------------------------------ */

.paging-ul {
    display: flex;
    list-style-type : none;
    margin-bottom: 30px;
    margin-top: 20px;
}

.paging-btn{
    margin: 5px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
}

.paging-btn:hover{
    cursor: pointer;
    background-color: #f3c3e2;
}


