/* member ---------------------------------------------------------------------------- */
.memberContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}

.memberView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.member-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.member-top-title {
    font-size: 30px;
    font-weight: bold;
}

.member-top-title-ad {
    font-size: 30px;
    font-weight: bold;
    margin-right: 120px;
}


.member-top-btn {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.member-modal-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: white;*/
}

.member-modal-div-title {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.member-modal-div-input {
    width: 225px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-modal-div-input-title {
    color: white;
    margin-right: 10px;
}


.member-modal-div-input input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 180px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.member-modal-div-input input::placeholder {
    color: #000000;
}

.member-modal-div-input select {
    width: 180px;
    height: 27px;
    border: solid 1px #bfbfbf;
    border-radius: 10px;
    font-size: 12px;
    text-indent: 10px;
    color: #000000;
    padding: 3px 0px;
    margin-left: 5px;
    -webkit-appearance: button;
    -moz-appearance: button-arrow-down;
}

.member-modal-div-btn {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-modal-div-btn button {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    background-color: #707070;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.member-top-search .input-style {
    width: 460px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    text-indent: 1em;
}


/* mypage ----------------------------------------------------------------------- */

.profile-background-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mypage-div {
    height: 720px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.profile-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.profile-top-btn {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-top-btn button {
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.profile-mid {
    width: 700px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.profile-mid-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-mid-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-mid-left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-mid-left-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-mid-left-title {
    width: 80px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.profile-email-input {
    width: 120px !important;
}

.profile-mid-left-row input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.profile-mid-img-div {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-mid-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-mid-right-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-mid-input-div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.profile-mid-input-div .width130-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.profile-mid-input-div .small-search-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.profile-selectBox {
    width: 220px;
    height: 27px;
    border: solid 1px #bfbfbf;
    border-radius: 10px;
    font-size: 12px;
    text-indent: 10px;
    padding: 3px 0px;
    margin-bottom: 5px;
    -webkit-appearance: button;
    -moz-appearance: button-arrow-down;
}


.myHistory-div {
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/*-----------------------------------------*/

.history-div{
    margin-top: 30px;
}

.history-table{
    width: 650px;
    min-height: 75px;
    border-collapse: collapse;
    table-layout: fixed;
    /*border-top: 1px solid black;*/
    border-bottom: 1px solid black;
    text-align: center;
}

.history-table th {
    padding: 10px;
    height: 20px;
    text-align: center;
    word-break:break-all;
    table-layout:fixed;
    border-bottom: 1px solid black;
    background-color: #2B456D;
    color: white;
}

.history-table tr{
    height: 20px;
}

.history-table td {
    height: 20px;
    text-align: center;
    vertical-align: middle;
    word-break:break-all;
    table-layout:fixed;
    /*font-size: 10px;*/
}

.history-table-img-div {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.history-table-img {
    width: 100%;
    height: 100%;
}
/*-----------------------------------------*/


.pwdChange-div {
    width: 550px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.pwd-div-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
}

.pwd-div-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pwd-div-title {
    color: white;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pwdChange-div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 12px;
}

.pwdChange-div input::placeholder {
    color: #ACACAC;
}

.pwdChange-div button {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 45px;
    width: 220px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.memberReturn-div {
    width: 600px;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 10px;
}

.return-div-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
}

.return-div-items-top {
    width: 550px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.return-div-items-mid {
    width: 550px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.return-div-items-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.return-checkbox {
    margin-right: 15px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}


.return-div-items-title {
    color: orangered;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.return-div-items-content {
    font-size: 11px;
    margin-bottom: 10px;
}

.memberReturn-div button {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 45px;
    width: 220px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.networkProfile-top-btn {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.networkProfile-top-btn button {
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: #333333;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.member-nav-link {
    text-decoration: none;
}

.member-nav-link:hover {
    color: #CEC35E;
}

