/* 내가 참여한 프로젝트 */

.DashBoard-List {
    background: #EBEBEB;
    border-radius: 10px;
    width: 500px;
    height: 291px;
    margin-top: 53px;
    margin-left: 70px;
    margin-right: 20px;

}
.dashBoard-project {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 3px black solid;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
}

.dashBoard-project p {
    font-size: 20px;
    font-family: Noto Sans;
    font-weight: 800;
    margin-left: 5px;
    flex: 1;
}
.project-and-calender {
    display: flex;
    margin-top: 20px;
}

.goProjects {
    cursor: pointer;
}

.dashBoard-project-item {
    display: flex;
    border-bottom: 1px solid black;
    color: black;
    font-size: 15px;
    font-family: Noto Sans;
    font-weight: 500;
    width: 95%;
    margin-left: 10px;
    padding: 10px;
}

.dashBoard-project-Title{
    cursor: pointer;
    flex: 1;
    margin-left: 5px;
}

/* 캘린더 */
.dashBoard-calendar {
    margin-top: 53px;
    margin-left: 80px;
}

/* 대시보드 밑줄 */
.DashBoard-List-bottom {
    display: flex;
}

/* 날씨 */
.today-weather-div {
    font-size: 13px;
    font-family: Noto Sans;
    font-weight: 500;
    padding: 5px;
    border-bottom: 1px solid #BAB5B5;
    width: 90%;
    margin-left: 5px;
    margin-top: 10px;
}

.today {
    font-size: 10px;
    font-family: Noto Sans;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.weather-cityname {
    font-size: 10px;
    font-family: Noto Sans;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.today-weather{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.today-weather div img {
    width: 70px;
    height: 75px;
}

.weather-temp-div {
    margin-right: 10px;
}

.weather-temp {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 800;
    text-align: center;
}

.weather-description {
    font-size: 15px;
    font-family: Noto Sans;
    font-weight: 400;
}
