.cal-navbar-div {
    width: 280px;
    height: 915px;
    background-color: rgba(51, 51, 51, 1);
    padding-top: 70px;
}

.cal-inner-box {
    width: 200px;
    margin: 0 auto;
}

.cal-logo-box {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 10px;
    border-radius: 10px;
    height: 40px;
    align-items: center;
}

.cal-menu-box {
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    height: 60px;
    align-items: center;
}

.cal-logo-box {
    height: 70px;
}

.cal-menu-box {
    justify-content: left;
    padding-left: 30px;
    background-color: rgba(51, 51, 51, 1);
}

.cal-logo, .cal-menu-logo {
    color: white;
}

.cal-title, .menu-title {
    color: white;
}

.cal-box {
    width: 95%;
    margin: 0 auto;
}

.cal-all-box {
    display: flex;
}

.cal-container {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
}

.cal-button-area {
    margin-top: 40px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cal-select-button {
    border-radius: 10px;
    width: 110px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cal-add-button {
    color: white;
    background-color: #333333;
}

.cal-box {
    margin-top: 20px;
}

.cal-all-button {
    background-color: #9B59B6;
    color: white;
}

.cal-project-button {
    background-color: #ADD8E6;
    color: white;
}

.cal-personal-button {
    background-color: #00BA34;
    color: white;
}

.fc {
    width: 1000px;
    margin-left: 50px;
    margin-top: 20px;
}

/* calendarDetail modal ------------------------------------------------------------------------------------------------ */
.cal-detail-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.cal-detail-modal-container{
    position: absolute;
    width: 600px;
    height: 250px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    z-index: 1000;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cal-detail-modal-div {
    display: flex;
    width: 600px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
}

.cal-detail-first-box {
    display: flex;
    justify-content: space-between;
}

.cal-detail-title {
    font-size: 1.8rem;
    font-weight: bolder;
}

.cal-detail-x-button-box {
    display: flex;
}

.cal-detail-x-button {
    all: unset;
    font-size: 1.5rem;
    cursor: pointer;
}

.cal-detail-date-range-box {
    display: flex;
    gap: 20px;
    font-size: 1.3rem;
}

.cal-detail-content-box {
    display: flex;
    font-size: 1.3rem;
}

.cal-detail-button-area {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.cal-detail-delete-button, .cal-detail-modify-button {
    all: unset;
    border: 1px solid black;
    font-size: 1.2rem;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.cal-detail-delete-button {
    font-weight: bolder;
    color: black;
}

.cal-detail-modify-button {
    font-weight: bolder;
    color: white;
    background-color: #333333;
}

/* 등록창 모달 */
.cal-detail-add-button {
    color: white;
    background-color: #333333;
}

.cal-detail-reset-button {
    color: black;
    background-color: white;
}

.cal-regist-modal-container{
    position: absolute;
    width: 600px;
    height: 400px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    z-index: 1000;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cal-header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.4rem;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 5px;
}

.cal-regist-first-box {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 1.1rem;
}

.cal-form-title {
    all: unset;
    width: calc(100% - 0px);
    white-space: nowrap; /* 글자가 넘칠 때 줄 바꿈을 막습니다 */
    overflow: hidden; /* 요소 밖으로 넘치는 부분을 숨깁니다 */
    text-overflow: ellipsis; /* 넘치는 부분을 생략 부호(…)로 표시합니다 */
    width: 95%;
}

.cal-form-group {
    display: flex;
    flex-direction: column;
}

.cal-form-content {
    padding-left: 5px;
    height: 110px;
    /*width: 548px;*/
    font-size: 1.05rem;
    /*padding-bottom: 55px;*/
    resize: none;
}

.cal-datepicker-box {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
}

.cal-first-date-box, .cal-second-date-box {
    display: flex;
    gap: 10px;
}


.cal-show-second-datebox {
    display: flex;
    height: 30px;
    align-items: center;
}

.cal-oneday-button {
    all: unset;
    padding-left: 5px;
    border: 1px solid black;
    color: white;
    background-color: #333333;
    height: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* fullcalendar */
.fc-day-sun a {
    color: lightcoral;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: cornflowerblue;
}

/* datepicker */
.react-datepicker__input-container input {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #2b2b2b;
    cursor: pointer;
}

.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}

.saturday {
    color: rgb(0, 0, 255) !important;
}

.sunday {
    color: rgb(255, 0, 0) !important;
}

.react-datepicker__day--disabled {
    color: #cccccc !important;
}

.react-datepicker-wrapper {
    width: unset;
    /* margin-right: 16px; */
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: #9B59B6;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: #9B59B6;
}
.react-datepicker__header {
    background-color: unset;
    border: none;
}

.react-datepicker__month-container {
    padding: 0.5rem;
}

.react-datepicker__day-names {
    color: #6b6b6b;
    font-weight: 500;
}

.react-datepicker__day--outside-month {
    color: #6b6b6b;
}

.react-datepicker__tab-loop {
    background-color: royalblue;
    position: absolute;
}

/* 프로젝트 일정 */
/* 일정 입력 */
.sch-regist-box {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}


.sch-title {
    display: flex;
    font-size: 30px;
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid black;
    align-items: center;
}

.sch-date-box {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-left: 15px;
}

.sch-add-manager {
    display: flex;
    height: 60px;
    padding: 10px;
    padding-left: 15px;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid black;
}

.sch-manager-img {
    width: 30px;
    height: 30px;
}

.sch-manager-selected {
    width: 130px;
    padding: 4px;
    font-size: 15px;
    height: 35px;
}

.sch-added-manager {
    display: flex;
    height: 60px;
    padding: 10px;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
}

.sch-added-box {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
    border: 1px solid black;
    padding: 4px;
    height: 35px;
}

.sch-body {
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 15px;
    /*width: 548px;*/
    font-size: 1.05rem;
    /*padding-bottom: 55px;*/
    resize: none;
    border: none;
    border-bottom: 1px solid black;
}

.sch-regist-btn-box {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    border-bottom: 1px solid black;
}

.sch-regist-btn {
    width: 117px;
    height: 40px;
    border: 1px solid black;
    color: white;
    background: #333333;
    border-radius: 5px;
    font-size: 20px;
}

/* 일정 리스트 */
.sch-project-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.sch-list-header {
    height: 62px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sch-list-first {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.sch-list-bottom {
    display: flex;
    gap: 10px;
}

.sch-list-modify, .sch-list-delete {
    width: 40px;
    height: 30px;
    border: 1px solid black;
}

.sch-list-delete {
    color: white;
    background: #333333;
}

.sch-title {
    font-size: 22px;
    border-top: 1px solid black;
}

.sch-managers-area {
    padding: 10px;
    padding-left: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sch-managers-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sch-body-box {
    height: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sch-unmodi {
    font-size: 1.5rem;
    width: 40px;
    height: 25px;
    color: black;
}

/* 일정 리뷰 */
.sch-review-box {
    display: flex;
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #E7E2E2;
}

#sch-review-img {
    width: 15px;
    height: 15px;
}

.sch-rev-body {
    width: 70%;
    margin-left: 10px;
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    gap: 15px;
}

.sch-rev-stat-box {
    display: flex;
    gap: 5px;
}

.sch-rev-modify-box, .sch-rev-deleted-box {
    border: 1px solid black;
    width: 40px;
    display: flex;
    justify-content: center;
}

#sch-rev-modi-box {
    border: none;
}

.sch-rev-deleted-box {
    background: #333333;
}

.sch-rev-deleted-box button{
    color: white;
}

.sch-write-box {
    display: flex;
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: #E7E2E2;
}

.sch-write-area {
    width: 85%;
}

.sch-review-regist {
    display: flex;
    align-items: center;
}

.sch-review-btn {
    border: 1px solid black;
    width: 40px;
    height: 22px;
    background: #333333;
    color: white;
}

.sch-review-body, .sch-review-regist-area {
    width: 100%;
    border: none;
}

.sch-review-regist-area {
    background: #D9D9D9;
}

.sch-return {
    font-weight: bolder;
}

/* 할일 등록 */
.td-box {
    display: flex;
    height: 60px;
    gap: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.td-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-left {
    display: flex;
    gap: 15px;
}

#td-regist-header {
    border: 1px solid black;
    height: 28px;
    width: 150px;
}

.td-circle {
    background-color: black;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    cursor: pointer;
}

.td-right-box {
    display: flex;
    border: none;
    align-items: center;
    gap: 20px;
}

.td-date-box {
    display: flex;
}

.td-add-manager {
    display: flex;
}

#td-manager-selected {
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-td-box {
    display: flex;
    height: 60px;
    gap: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.td-add-left-box {

}